name: Android CI with Gradle

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Checkout submodules # checkout rest
      shell: bash
      run: |
        git submodule update --init
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Validate Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload APK
      if: ${{ github.repository_owner == 'Gitsaibot' }}
      uses: actions/upload-artifact@v2
      with:
        name: Etar
        path: /home/runner/work/Etar-Calendar/Etar-Calendar/build/outputs/apk/debug/**.apk
